**<h1>'Social Media VS Mental Health'</h1>**

<h2><u>TEMA</u></h2>

Este EDA analiza cómo el uso de diversas plataformas de redes sociales, como Instagram, Facebook y TikTok, afecta el comportamiento, bienestar y salud mental de los usuarios.

<h2><u>HIPÓTESIS</u></h2>

**<h3><u>1. Relacion: Tipo de plataforma ↔ Tiempo Dedicado<u></h3>**

<p>Esta hipótesis plantea que los usuarios de plataformas visuales como Instagram y TikTok podrían pasar significativamente más tiempo en redes sociales que los usuarios de plataformas como Facebook. El formato visual y los algoritmos de estas plataformas podrían fomentar un mayor engagement y, por lo tanto, aumentar el tiempo dedicado <width: 50px></p>

**<h3><u>2. Impacto: Deuda financiera ↔ Tiempo en redes sociales</u></h3>**

<p>La idea es que los usuarios que tienen deudas podrían usar más redes sociales como una forma de distracción o escape. Esto podría ser especialmente evidente en plataformas de entretenimiento (Instagram, TikTok).<width: 50px></p>

**<h3><u>3. Relación: Autocontrol ↔ Uso en Móviles</u></h3>**

<p>Esta hipótesis sugiere que los usuarios que acceden a redes sociales desde móvil, pueden tener menores niveles de autocontrol en comparación con quienes acceden desde otros dispositivos.</p>

**<h3><u>4. Efecto: Género ↔ Razones de Uso<u></h3>**

<p>Esta hipótesis explora cómo el género puede influir en las razones por las cuales las personas usan redes sociales.
</p>

**<h3><u>5. Relación: Edad ↔ Adicción<u></h3>**

<p>Esta hipótesis plantea que los usuarios más jóvenes son más propensos a niveles altos de adicción a las redes sociales.</p>

**<h3><u>6. Relación: Estado civil ↔ Tiempo<u></h3>**

<p>Las personas solteras podrían pasar más tiempo en redes sociales, ya sea buscando interacción social o entretenimiento y aquellos en relaciones, podrían dedicar menos tiempo a las redes, su conexión social se cubre en mayor medida fuera del ámbito digital.
</p>

**<h3><u>7. Relación: Tiempo ↔ Satisfacción personal</u></h3>**

Los usuarios que dedican más tiempo diario a las redes sociales podrían experimentar menores niveles de satisfacción personal.

**<h3><u>8. Efecto: Uso Nocturno ↔ Autocontrol y Adicción<u></h3>**

Los usuarios que usan redes sociales principalmente durante la noche podrían reportar mayores niveles de adicción y menor autocontrol. El uso nocturno puede estar relacionado con la dificultad de desconectar o la falta de límites en el consumo de contenido.

<h2><u>OBTENCIÓN DE LOS DATOS</u></h2>

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

df_1 = pd.read_csv('dummy_data.csv')
fuente_df1 = 'https://www.kaggle.com/datasets/imyjoshua/average-time-spent-by-a-user-on-social-media'

df_2 = pd.read_csv('smmh.csv')
fuente_df2 = 'https://www.kaggle.com/datasets/shabdamocharla/social-media-mental-health'

df_3 = pd.read_csv('Time-Wasters on Social Media.csv')
fuente_df3 = 'https://www.kaggle.com/datasets/muhammadroshaanriaz/time-wasters-on-social-media'

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [3]:
df_1.head()

   age      gender  time_spent   platform  interests        location demographics         profession  income  indebt  isHomeOwner  Owns_Car
0   56        male           3  Instagram     Sports  United Kingdom        Urban  Software Engineer   19774    True        False     False
1   46      female           2   Facebook     Travel  United Kingdom        Urban            Student   10564    True         True      True
2   32        male           8  Instagram     Sports       Australia    Sub_Urban   Marketer Manager   13258   False        False     False
3   60  non-binary           5  Instagram     Travel  United Kingdom        Urban            Student   12500   False         True     False
4   25        male           1  Instagram  Lifestlye       Australia        Urban  Software Engineer   14566   False         True      True

In [4]:
# Primer dataset
print('fuente:',fuente_df2)
df_2.head()

fuente: https://www.kaggle.com/datasets/shabdamocharla/social-media-mental-health

,Timestamp,1. What is your age?,2. Gender,3. Relationship Status,4. Occupation Status,5. What type of organizations are you affiliated with?,6. Do you use social media?,7. What social media platforms do you commonly use?,8. What is the average time you spend on social media every day?,9. How often do you find yourself using Social media without a specific purpose?,10. How often do you get distracted by Social media when you are busy doing something?,11. Do you feel restless if you haven't used Social media in a while?,"12. On a scale of 1 to 5, how easily distracted are you?","13. On a scale of 1 to 5, how much are you bothered by worries?",14. Do you find it difficult to concentrate on things?,"15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?","16. Following the previous question, how do you feel about these comparisons, generally speaking?",17. How often do you look to seek validation from features of social media?,18. How often do you feel depressed or down?,"19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?","20. On a scale of 1 to 5, how often do you face issues regarding sleep?"
0,4/18/2022 19:18:47,21.0,Male,In a relationship,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",Between 2 and 3 hours,5,3,2,5,2,5,2,3,2,5,4,5
1,4/18/2022 19:19:28,21.0,Female,Single,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",More than 5 hours,4,3,2,4,5,4,5,1,1,5,4,5
2,4/18/2022 19:25:59,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube, Pinterest",Between 3 and 4 hours,3,2,1,2,5,4,3,3,1,4,2,5
3,4/18/2022 19:29:43,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram",More than 5 hours,4,2,1,3,5,3,5,1,2,4,3,2
4,4/18/2022 19:33:31,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube",Between 2 and 3 hours,3,5,4,4,5,5,3,3,3,4,4,1

In [5]:
# Primer dataset
print('fuente:',fuente_df3)
df_3.head()

fuente: https://www.kaggle.com/datasets/muhammadroshaanriaz/time-wasters-on-social-media

   UserID  Age  Gender       Location  Income   Debt  Owns Property     Profession Demographics   Platform  Total Time Spent  Number of Sessions  Video ID Video Category  Video Length  Engagement  Importance Score  Time Spent On Video  Number of Videos Watched  Scroll Rate  Frequency  ProductivityLoss  Satisfaction     Watch Reason  DeviceType       OS Watch Time  Self Control  Addiction Level CurrentActivity ConnectionType
0       1   56    Male       Pakistan   82812   True           True       Engineer        Rural  Instagram                80                  17      4229         Pranks            24        7867                 5                   26                        22           87      Night                 3             7  Procrastination  Smartphone  Android    9:00 PM             5                5       Commuting    Mobile Data
1       2   46  Female         Mexico   27999  False           True         Artist        Urban  Instagram               228                  14      2131         Pranks            19        5944                 6                   25                        31           46  Afternoon                 5             5            Habit    Computer  Android    5:00 PM             7                3       At school          Wi-Fi
2       3   32  Female  United States   42436  False           True       Engineer        Rural   Facebook                30                   6      4367          Vlogs            19        8674                 3                    9                         7           88    Evening                 6             4    Entertainment      Tablet  Android    2:00 PM             8                2         At home    Mobile Data
3       4   60    Male         Barzil   62963   True          False  Waiting staff        Rural    YouTube               101                  19      1507          Vlogs             4        2477                 2                    6                        41           93      Night                 3             7            Habit  Smartphone  Android    9:00 PM             5                5       Commuting    Mobile Data
4       5   25    Male       Pakistan   22096  False           True        Manager        Urban     TikTok               136                   6      2159         Gaming            19        3093                 7                   13                        21            4    Morning                 8             2          Boredom  Smartphone      iOS    8:00 AM            10                0         At home    Mobile Data

**Limpiar DF_2**

In [6]:
df_2.rename(columns= {'1. What is your age?' : 'Age',
                '2. Gender' : 'Gender',
                '3. Relationship Status' : 'Relationship',
                '4. Occupation Status' : 'Profession',
                '6. Do you use social media?' : 'Social_Media_User',
                '7. What social media platforms do you commonly use?' : 'Platform',
                '8. What is the average time you spend on social media every day?' : 'Time_Spent',
                "11. Do you feel restless if you haven't used Social media in a while?" : 'Addiction_Level',
                '18. How often do you feel depressed or down?' : 'Sad_Frecuency'}, inplace= True)

In [7]:
df_2 = df_2.drop(['Timestamp', 
                '5. What type of organizations are you affiliated with?',
                '9. How often do you find yourself using Social media without a specific purpose?',
                '10. How often do you get distracted by Social media when you are busy doing something?',
                '12. On a scale of 1 to 5, how easily distracted are you?',
                '13. On a scale of 1 to 5, how much are you bothered by worries?',
                '14. Do you find it difficult to concentrate on things?',
                '15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?',
                '16. Following the previous question, how do you feel about these comparisons, generally speaking?',
                '17. How often do you look to seek validation from features of social media?',
                '19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?',
                '20. On a scale of 1 to 5, how often do you face issues regarding sleep?'], axis=1)

**Limpiar DF_3**

In [8]:
df_3.rename(columns= {'Total Time Spent' : 'Time_Spent',
                    'Addiction Level' : 'Addiction_Level',
                    'Satisfaction' : 'Satisfaction_Level'}, inplace= True)

In [9]:
df_3 = df_3.drop(['UserID',
                'Location',
                'Income',
                'Debt',
                'Owns Property',
                'Demographics',
                'Number of Sessions',
                'Video ID',
                'Video Category',
                'Video Length',
                'Engagement',
                'Importance Score',
                'Time Spent On Video',
                'Number of Videos Watched',
                'Scroll Rate',
                'Frequency',
                'ProductivityLoss',
                'Watch Reason',
                'Watch Time',
                'Self Control',
                'CurrentActivity',
                'ConnectionType'
                ], axis= 1)

**Arreglo: Edad To int**

In [10]:
df_2['Age'] = df_2['Age'].astype('int64')

**Arreglo: Profession!**

In [11]:
df_2.loc[(df_2['Profession']  == 'University Student') | (df_2['Profession']  == 'School Student'), 'Profession'] = 'Student'

In [12]:
df_3.loc[df_3['Profession'] == 'Students', 'Profession'] = 'Student'
df_3.loc[df_3['Profession'] != 'Student', 'Profession'] = 'Salaried Worker'

**Ajustar Addiction_Level evaluado de 0-10 en vez de 0-5**

In [13]:
df_2['Addiction_Level'] = df_2['Addiction_Level'] * 2

**Sacar Satisfaction_Level en base al Sad_Frecuency (y evaluarlo de 0-10)**

In [14]:
df_2['Satisfaction_Level'] = 10 - (df_2['Sad_Frecuency']*2)
df_2 = df_2.drop(['Sad_Frecuency'], axis = 1)

**Crear columna donde todos los usuarios usan Social_Media (Ningún valor nulo en plataforma)**

In [15]:
df_3['Social_Media_User'] = 'Yes'

In [16]:
df_2

     Age  Gender       Relationship       Profession Social_Media_User                                           Platform             Time_Spent  Addiction_Level  Satisfaction_Level
0     21    Male  In a relationship          Student               Yes  Facebook, Twitter, Instagram, YouTube, Discord...  Between 2 and 3 hours                4                   0
1     21  Female             Single          Student               Yes  Facebook, Twitter, Instagram, YouTube, Discord...      More than 5 hours                4                   0
2     21  Female             Single          Student               Yes            Facebook, Instagram, YouTube, Pinterest  Between 3 and 4 hours                2                   2
3     21  Female             Single          Student               Yes                                Facebook, Instagram      More than 5 hours                2                   2
4     21  Female             Single          Student               Yes                       Facebook, Instagram, YouTube  Between 2 and 3 hours                8                   2
..   ...     ...                ...              ...               ...                                                ...                    ...              ...                 ...
476   24    Male             Single  Salaried Worker               Yes                       Facebook, Instagram, YouTube  Between 2 and 3 hours                6                   4
477   26  Female            Married  Salaried Worker               Yes                                  Facebook, YouTube  Between 1 and 2 hours                4                   2
478   29  Female            Married  Salaried Worker               Yes                                  Facebook, YouTube  Between 2 and 3 hours                8                   6
479   21    Male             Single          Student               Yes  Facebook, Twitter, Instagram, YouTube, Discord...  Between 2 and 3 hours                4                   2
480   53    Male            Married  Salaried Worker               Yes                                  Facebook, YouTube      Less than an Hour                2                   6

[481 rows x 9 columns]

In [17]:
df_3['Time_Spent'] = df_3['Time_Spent']/60

In [18]:
df_3

     Age  Gender       Profession   Platform  Time_Spent  Satisfaction_Level  DeviceType       OS  Addiction_Level Social_Media_User
0     56    Male  Salaried Worker  Instagram    1.333333                   7  Smartphone  Android                5               Yes
1     46  Female  Salaried Worker  Instagram    3.800000                   5    Computer  Android                3               Yes
2     32  Female  Salaried Worker   Facebook    0.500000                   4      Tablet  Android                2               Yes
3     60    Male  Salaried Worker    YouTube    1.683333                   7  Smartphone  Android                5               Yes
4     25    Male  Salaried Worker     TikTok    2.266667                   2  Smartphone      iOS                0               Yes
..   ...     ...              ...        ...         ...                 ...         ...      ...              ...               ...
995   22    Male          Student     TikTok    2.400000                   1  Smartphone      iOS                0               Yes
996   40  Female  Salaried Worker   Facebook    3.850000                   2  Smartphone    MacOS                0               Yes
997   27    Male  Salaried Worker     TikTok    2.750000                   1  Smartphone      iOS                0               Yes
998   61    Male          Student    YouTube    2.516667                   7  Smartphone    MacOS                5               Yes
999   19    Male  Salaried Worker    YouTube    2.783333                   4  Smartphone  Android                2               Yes

[1000 rows x 10 columns]

In [19]:
df_2['Time_Spent_T'] = df_2['Time_Spent'].apply(
    lambda x: 'Less than an Hour' if x < 1 else
            'Between 1 and 2 hours' if 1 <= x < 2 else
            'Between 2 and 3 hours' if 2 <= x < 3 else
            'Between 3 and 4 hours' if 3 <= x < 4 else
            'Between 4 and 5 hours' if 4 <= x <= 5 else
            'More than 5 hours'
)

TypeError: Choicelist and default value do not have a common dtype: The DType <class 'numpy.dtypes._PyLongDType'> could not be promoted by <class 'numpy.dtypes.StrDType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes.StrDType'>, <class 'numpy.dtypes._PyLongDType'>)